# Backend
PORT=3000
NODE_ENV=development

# Base de données
DB_HOST=localhost
DB_PORT=5432
DB_USER=user
DB_PASSWORD=ramla123
DB_NAME=taskmanager

# Stockage local
DATA_FILE=tasks.json

# Auth
JWT_SECRET=change_me_in_prod

# Frontend
FRONTEND_URL=http://localhost:5500